@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  margin: 0 auto;
  padding: 0;
  font-family: roboto;
}

.piano {
  position: absolute;
  background-color: #ccc;
  margin: 0px;
  width: 400px;
  height: 10px;
  pointer-events: stroke;
  user-select: none;

  &_drag {
    position: relative;
    background-color: rgb(62, 52, 52);
    height: 15px;
    border: 1px solid #000;
    color: #fff;
    padding-right: 5px;
    font-size: 12px;
    text-align: end;
    user-select: none;
  }

  &__keys {
    background: white;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    width: 400px;

    .key {
      // position: relative;
      display: flex;
      top: 0;
      width: 50px;
      height: 140px;
      background: #fff;
      color: #000;
      z-index: 1;
      justify-content: center;
      align-items: end;
      padding-bottom: 15px;
      pointer-events: stroke;
      font-weight: bold;
      font-size: 15px;
      &:hover {
        background-color: #eeeeee;
        color: #333;
      }
      &:active {
        background-color: #bbbbbb;
        color: #666;
      }
    }

    .black {
      height: 100px;
      width: 40px;
      background: #000;
      color: #fff;
      z-index: 2;
      &:hover {
        background-color: #222222;
        color: #ddd;
      }
      &:active {
        background-color: #444444;
        color: #ccc;
      }
    }
    .c {
      position: absolute;
      left: 0px;
      &:nth-last-child(1) {
        position: absolute;
        left: 350px;
      }
    }
    .cis {
      position: absolute;
      left: 30px;
    }
    .d {
      position: absolute;
      left: 50px;
    }
    .dis {
      position: absolute;
      left: 80px;
    }
    .e {
      position: absolute;
      left: 100px;
    }
    .f {
      position: absolute;
      left: 150px;
    }
    .fis {
      position: absolute;
      left: 180px;
    }
    .g {
      position: absolute;
      left: 200px;
    }
    .gis {
      position: absolute;
      left: 230px;
    }
    .a {
      position: absolute;
      left: 250px;
    }
    .ais {
      position: absolute;
      left: 280px;
    }
    .b {
      position: absolute;
      left: 300px;
    }
  }
}
